
.shape-circle {
    
    shape-outside: circle(146px at 42.65% 41.2%);
    
    width: 300px;
    height: 300px;
    float: left;
    
/*    background-color: blue;*/
    background-image: url(assets/img/teerasej.png);
    background-size: 250px 250px;
    background-repeat: no-repeat;
    
}
